body{
	margin: 0px;
	height: 100%;
	width: 100%;
	color: white;
	background-color: black;

}

/*body header image*/

#body-header{
	/*<!-- adding header background image -->*/
	height: 65vh;
	opacity: 0.9;
	background-image:url(images/tech3.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


}

/*header-naviagation lists*/
.horizontal-list{
	list-style: none;
	padding-top: 20px;
	margin: 0px;
}

/*make list inline horizontal*/
.horizontal-list li{
	display: inline-block;
	margin: 0px 20px 20px 0px;
}

/*remove a-tag details*/
.horizontal-list li a{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;

	/*slow changes*/
	transition: color 0.5s , border-bottom 4s ;
}


/*hovering the nav list*/
.nav-menu li a:hover{
	color: darkviolet;
	border-bottom: 3px solid white;
}

/*all text to center*/
.text-center{
	text-align: center;
}


/*----------------*/

/*name-social icons*/

#name-social-container{
	margin-top: 27vh;
}
/*changes to my-name*/
#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

.social-icons li a i{
	padding: 8px 10px;
	font-size: 1.5rem;
	color: white;
	border-radius: 100%;
	margin: 0px 2px 2px 0px;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px white;
	color: deepskyblue;
	/*explore*/
	transition: box-shadow 0.5s , color 0.5s ;
}

#quora i:hover{
	color: darkred;
}

#stack i:hover{
	color:yellow ;
}

#github i:hover{
	color: white;
}


/*about section*/
#about{
	/*height: 65vh;*/
	height: auto;
	width: 100%;
	/*text-align: center;*/
	position: relative;
}

#my-image{
	height: 13rem;
	width: 12rem;
	margin: auto;
	margin-top: -12vh;
}

#my-image img{
	/*height: 25%;*/
	height: 100%;
	/*width: 15%;*/
	width: 100%;
	border-radius: 100%;
	/*transform: translate(0%,-50%);*/
	border: 1px solid white;
	box-shadow: 0px 0px 10px 0.5px white;
}

#desc{
	font-family: cursive;
	font-size: 0.95rem;
	font-weight: 10;
	/*transform: translate(0%,-50%);*/
	margin: 20px;
	padding: 10px;
	/*padding: 10px;*/

}


/*about section*/
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-heading{
	font-family: cursive;
	color: ghostwhite;
	margin-bottom: 40px;
	font-weight: 400;
	width: auto;
}

.skills-display{
	width: 80%;
	/*border: 1px solid gold;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	/*align-items: center; */
}

.skill-progress{
	background-color: black;
	border-radius: 25px;
	width: 150px;
	margin: 15px;
}

.skill-progress:hover{
	box-shadow: 0px 0px 6px 4px white;
	/*explore*/
	transition: box-shadow 0.5s;
}

div span{
	color: whitesmoke;
	margin-left: 0.4rem;
	font-size: 0.8rem;
}

#cpp{
	background-color: darkblue;
	width: 60%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}


#java{
	background-color: deepskyblue;
	width: 50%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#python{
	background-color: darkgoldenrod;
	width: 80%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#html{
	background-color: orangered;
	width: 60%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#data{
	background-color: darkblue;
	width: 90%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#ml{
	background-color: darkcyan;
	width: 75%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#javascript{
	background-color: #baba0c;
	width: 10%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}





section:nth-child(2n){
	background-color: #091823;
}

section:nth-child(2n+1){
	background-color: #110e0e;
}