body{
	margin: 0px;
}

/*body header image*/
#body-header{
	/*<!-- adding header background image -->*/
	height: 65vh;
	opacity: 0.8;
	background-image:url(images/tech.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*header-naviagation lists*/
.horizontal-list{
	list-style: none;
	padding-top: 20px;
	margin: 0px;
}

/*make list inline horizontal*/
.horizontal-list li{
	display: inline-block;
	margin: 0px 20px 20px 0px;
}

/*remove a-tag details*/
.horizontal-list li a{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;

	/*slow changes*/
	transition: color 0.5s , border-bottom 4s ;
}


/*hovering the nav list*/
.nav-menu li a:hover{
	color: red;
	border-bottom: 3px solid white;
}

/*all text to center*/
.text-center{
	text-align: center;
}


/*----------------*/

/*name-social icons*/

#name-social-container{
	margin-top: 20vh;
}
/*changes to my-name*/
#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

.social-icons li a i{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem;
	color: lightgoldenrodyellow;
	border-radius: 50%;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 4px 4px white;
	/*explore*/
	transition: box-shadow 0.5s ;
}