body{
	margin: 0px;
}

#body-header{
	/*<!-- adding header background image -->*/
	height: 65vh;
	opacity: 0.8;
	background-image:url(images/tech.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}